PORT=8000
MONGO_URI=mongodb://localhost:27017/eatepic
ACCESS_SECRET=eatepic_access_secretshdbry74q2894497!$%^&*adsdfgh
REFRESH_SECRET=eatepic_refresh_secretwexrctvy$%^&*
JWT_SECRET=mySuperSecretKey123asdfghjkqwertyuiozxcvbn$%^&*
PUBLIC_ASSET_BASE_URL=http://localhost:8000
CORS_ORIGINS=http://localhost:8100,http://localhost:4200
SOCKET_CORS_ORIGINS=*

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
